:root {
    --text-color-primary: #f9faf8;
    --text-color-secondary: #e5e7eb;
    --text-font-small: 18px;

    --background-color-header: #1f2937;
    --background-color-quote: #e5e7eb;

    --button-color: #3882f6;

    --border-radius-button: 5px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 0;
}

/* HEADER */

.header {
    background-color: var(--background-color-header);
    padding: 25px 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color-primary);
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar__link {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color-secondary);
    margin: 0 15px;
    transition: 0.3s ease;
}

.navbar__link:hover, .navbar__logo:hover {
    color: #9c9c9c;
}

.header__section {
    display: flex;
    gap: 30px;
    padding: 100px 0;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 48px;
    font-weight: 900;
    color: var(--text-color-primary);
    margin: 0;
    padding: 0;
}

.header__text {
    font-size: var(--text-font-small);
    color: var(--text-color-secondary);
    margin: 0;
    padding: 10px 0;
    line-height: 22px;
}

.header__signup {
    background-color: var(--button-color);
    border-radius: var(--border-radius-button);
    border: none;
    font-weight: 600;
    padding: 8px 27px;
    color: var(--text-color-primary);
    cursor: pointer;
}

.header__image {
    background-color: #9c9c9c;
    width: 600px;
    height: 180px;
}

.main {
    margin: 15px 280px;
}

/* INFORMATION RANDOM */

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 80px;
}

.information__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.information__container {
    display: flex;
    gap: 25px;
}

.information__content {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: auto;
    gap: 10px;
}

.information__img {
    width: 120px;
    height: 120px;
    border: 3px solid var(--button-color);
    border-radius: 10px;
}

.information__text {
    font-size: 16px;
    text-align: center;
}

/* CITA */

.quote {
    position: relative;
    padding: 70px 0;
}

.quote::before {
    content: '';
    position: absolute;
    top: /*104%*/5%;
    left: 50%;
    transform: translateX(-50%);
    width: /*100%*/100vw;
    height: /*20%*/100%;
    background-color: var(--background-color-quote);
    z-index: -1;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.quote__author {
    display: flex;
    justify-content: end;
    font-weight: 700;
}